<html>

<head>
    <h1> Add New Driver</h1>
</head>

<body>
    <form action="/30628059/Ranjit/drivers/new" method="post">
        <label for="driver_name">Driver Name:</label>
        <input type="text" id="driver_name" name="driver_name" required>

        <label for="driver_department">Driver Department:</label>
        <select id="driver_department" name="driver_department" required>
            <option value="food">Food</option>
            <option value="furniture">Furniture</option>
            <option value="electronic">Electronic</option>
        </select>

        <label for="driver_license">Driver License:</label>
        <input type="text" id="driver_license" name="driver_license" required>

        <label for="driver_isActive">Driver is Active?:</label>
        <select id="driver_isActive" name="driver_isActive" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>

        <button type="submit">Add New Driver</button>
    </form>
</body>

</html>