<html>

<head>
    <h1> Add New Package</h1>
</head>

<body>
    <form action="/30628059/Ranjit/packages/new" method="post">
        <label for="package_title">Package Title:</label>
        <input type="text" id="package_title" name="package_title" required>

        <label for="package_weight">Package Weight:</label>
        <input type="text" id="package_weight" name="package_weight" required>

        <label for="package_destination">Package Destination:</label>
        <input type="text" id="package_destination" name="package_destination" required>

        <label for="package_description">Package Description:</label>
        <input type="text" id="package_description" name="package_description" required>

        <label for="package_isAllocated">Package is Allocated?:</label>
        <select id="package_isAllocated" name="package_isAllocated" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>

        <label for="driver_id">Driver ID:</label>
        <input type="text" id="driver_id" name="driver_id" required>

        <button type="submit">Add New Package</button>
    </form>
</body>

</html>