<html>

<head>
    <h1> Add New Package</h1>
</head>

<body>
    <form action="/30628059/Ranjit/packages/new" method="post">
        <label for="package_title">Package Title:</label>
        <input type="text" id="packages_title" name="packages_title" required>

        <label for="packages_weight">Package Weight:</label>
        <input type="text" id="packages_weight" name="packages_weight" required>

        <label for="packages_destination">Package Destination:</label>
        <input type="text" id="packages_destination" name="packages_destination" required>

        <label for="packages_description">Package Description:</label>
        <input type="text" id="packages_description" name="packages_description" required>

        <label for="packages_isAllocated">Package is Allocated?:</label>
        <select id="packages_isAllocated" name="packages_isAllocated" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>

        <label for="driver_id">Driver ID:</label>
        <input type="text" id="driver_id" name="driver_id" required>

        <button type="submit">Add New Package</button>
    </form>
</body>

</html>