<html>
<style>
    .logo {
        width: 300px;
    }
</style>

<body>
    <h1>
        Welcome to Ranjit's Package Delivery Management
    </h1>
    <img src="/images/logo.png" class="logo">
    <div>
        <p>Total Drivers: <%= totalDrivers %></p>
        <p>Total Packages: <%= totalPackages %></p>
    </div>
    <div>
        <a href="/30628059/Ranjit/drivers">List Drivers</a>
        <a href="/30628059/Ranjit/drivers/new">Add Driver</a>
        <a href="/30628059/Ranjit/drivers/delete">Delete Driver</a>
        <a href="/30628059/Ranjit/packages">List Packages</a>
        <a href="/30628059/Ranjit/packages/new">Add Package</a>
        <a href="/30628059/Ranjit/packages/delete">Delete Package</a>

    </div>
</body>

</html>